/node_modules
/public/hot
/public/storage
/public/uploads
/public/uploads/*
/public/uploads/*/*.key
/public/contracts
/storage/*.key
/storage/framework
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/puplic
